*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

header {
  padding: 5vh 2.5vw;
}

header img {
  width: 90%;
  max-width: 300px;
}

header a {
  display: block;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.friends {
  padding: 0 5vw;
}

@media (min-width: 480px) {
  .friends {
    display: flex;
    flex-flow: row wrap;
  }
}

.friend {
  padding: .5rem 0;
  border-bottom: 1px solid lightgray;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.friend h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

.streak-week {
  display: inline-block;
  margin-right: 2px;
}

.streak-item {
  position: relative;
  margin-bottom: 2px;
}

.streak-item span {
  display: block;
  width: 10px;
  height: 10px;
}

.normal {
  background-color: #EEE;
}

.today {
  background-color: #CCC;
  border: 1px solid #BBB;
}

.streak-item .popover {
  position: absolute;
  width: auto;
  height: auto;
  top: 10px;
  left: 5px;
  padding: 4px 6px;
  border-radius: 3px;
  font-size: 12px;
  background-color: rgba(0,0,0,0.7);
  z-index: 100;
  color: white;
  display:none;
}

.streak-item:hover .popover {
  display:block;
}

.linkGit{
  color: inherit;
  text-decoration: none;
}

footer {
  font-family: 'Permanent Marker', cursive;
  padding: .5rem 2rem;
  background: #f3f3f3;
}

@media (min-width: 480px) {
  footer {
    text-align: right;
  }
}
