<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,width=device-width">

  <title>WunderFriends</title>
  <meta name="description" content="WunderFriends">
  <meta name="author" content="WunderFriends">

  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Permanent+Marker" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

  <script src="js/vue.js"></script>
  <script src="js/moment.js"></script>
</head>

<body>
  <header>
    <h1>keep moving with your</h1>
    <a href="https://github.com/wunderfriends/wunderfriends.github.io" target="_blank">
      <img src="image/friends.png"/>
    </a>
  </header>
  <section class="friends" id="app">
    <div v-for="friend in friends" class="friend">
      <h2>
        <a class="linkGit" v-bind:href="linkGithub + friend.userGit" target="_blank"> {{friend.name}}</a>
      </h2>
      <div class="streak">
        <div v-for="week in period" class="streak-week">
          <div v-for="date in week" class="streak-item">
            <span v-if="friend.streak[date.format('YYYY-MM-DD')]" class="normal" v-bind:style="{ 'background-color': friend.color }">
            </span>
            <span v-else class="normal" v-bind:class="{ today: date.format('YYYY-MM-DD') === today}">
            </span>
            <span class="popover">
              {{date.format("DD/MM/YYYY")}}
              <div v-if="typeof friend.streak[date.format('YYYY-MM-DD')] === 'string'" style="min-width:160px">
                {{friend.streak[date.format('YYYY-MM-DD')]}}
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <p>just do it</p>
  </footer>

  <script src="js/friends/celsowo.js"></script>
  <script src="js/friends/emersonoliveira.js"></script>
  <script src="js/friends/felipebernades.js"></script>
  <script src="js/friends/gabrieljacquier.js"></script>
  <script src="js/friends/jeanvitor.js"></script>
  <script src="js/friends/leocosta.js"></script>
  <script src="js/friends/luislombardi.js"></script>
  <script src="js/friends/matheusoliveira.js"></script>
  <script src="js/friends/mikelima.js"></script>
  <script src="js/friends/samuelfrezza.js"></script>
  <script src="js/scripts.js"></script>
</body>
</html>
